.workGrid {
    display: grid;
   /* grid-template-areas: myArea myArea myArea myArea myArea;*/
    grid-template-columns: 6fr 6fr;
}

.item {
    /*grid-area: myArea;*/
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.casestudy {
    width: 80%;
    height: 200px;
    background-color: black;
}